{% extends 'base.html.twig' %}

{% block title %}{{ 'course_index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'course_index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'course_title'|trans }}</th>
                <th>{{ 'course_instructor'|trans }}</th>
                <th>{{ 'course_class_average'|trans }}</th>
                <th>{{ 'course_rate_average'|trans }}</th>
                {% if not is_granted('ROLE_TEACHER') %}
                    <th>{{ 'course_rate'|trans }}</th>
                {% endif %}
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.instructor.name }}</td>
                <td>{{ course.getClassAverage()|format_number(attrs={fraction_digit: 2}) }}</td>
                <td>{{ course.getAverageRate()|format_number(attrs={fraction_digit: 2}) }}</td>
                {% if not is_granted('ROLE_TEACHER') %}
                    <td>
                        <div class="course-{{ course.id }}-rate"></div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $(".course-{{ course.id }}-rate").starRating({
                                    initialRating: {{ course.getRate(app.user.id) }},
                                    useFullStars: true,
                                    starSize: 25,
                                    starShape: 'rounded',
                                    callback: function(currentRating){
                                        $.ajax({
                                            url: '{{ path('app_rate_new') }}',
                                            method: 'POST',
                                            data: {
                                                courseId: {{ course.id }},
                                                rate: currentRating
                                            },
                                            success: function(response, status, xhr) {
                                            },
                                            error: function(xhr, status, error) {
                                            }
                                        });
                                    }
                                });
                            });
                        </script>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_STUDENT') and not course.isRegistered(app.user.id) %}
                        <a href="{{ path('app_course_registration_new', {'courseId': course.id}) }}">{{ 'register_course'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
