{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Instructor</th>
                <th>Class average</th>
                <th>Rate average</th>
                {% if not is_granted('ROLE_TEACHER') %}
                    <th>Rate</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.instructor.name }}</td>
                <td>{{ course.getClassAverage() }}</td>
                <td>{{ course.getAverageRate() }}</td>
                {% if not is_granted('ROLE_TEACHER') %}
                    <td>
                        <div class="course-{{ course.id }}-rate"></div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $(".course-{{ course.id }}-rate").starRating({
                                    initialRating: {{ course.getRate(app.user.id) }},
                                    useFullStars: true,
                                    starSize: 25,
                                    starShape: 'rounded',
                                    callback: function(currentRating){
                                        $.ajax({
                                            url: '{{ path('app_rate_new') }}',
                                            method: 'POST',
                                            data: {
                                                courseId: {{ course.id }},
                                                rate: currentRating
                                            },
                                            success: function(response, status, xhr) {
                                            },
                                            error: function(xhr, status, error) {
                                            }
                                        });
                                    }
                                });
                            });
                        </script>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    {% if is_granted('ROLE_STUDENT') and not course.isRegistered(app.user.id) %}
                        <a href="{{ path('app_course_registration_new', {'courseId': course.id}) }}">register</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
