{% extends 'base.html.twig' %}

{% block title %}{{ 'new_course'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new_course'|trans }}</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index_by_instructor', {'instructorId': app.user.id}) }}">{{ 'back_to_courses'|trans }}</a>
{% endblock %}
