{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>{{ 'course'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'course_title'|trans }}</th>
                <td>{{ course.title }}</td>
            </tr>
            {% if not is_granted('ROLE_TEACHER') %}
                <tr>
                    <th>{{ 'course_instructor'|trans }}</th>
                    <td>{{ course.instructor.name }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'course_rate'|trans }}</th>
                <td>{{ course.getAverageRate()|format_number(attrs={fraction_digit: 2}) }}</td>
            </tr>
            <tr>
                <th>{{ 'course_class_average'|trans }}</th>
                <td>{{ course.getClassAverage()|format_number(attrs={fraction_digit: 2}) }}</td>
            </tr>
            {% if not is_granted('ROLE_TEACHER') %}
                <tr>
                    <td>{{ include('comment/index.html.twig', {'comments': course.getComments()}) }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        {% include 'course_registration/index.html.twig' with {'course_registrations': course.getRegistrations()} %}
    {% endif %}

    {% if is_granted('ROLE_STUDENT') and not course.isRegistered(app.user.id) %}
        <a href="{{ path('app_course_registration_new', {'courseId': course.id}) }}">{{ 'register_course'|trans }}</a>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_PARENT') %}
        <a href="{{ path('app_course_index') }}">{{ 'back_to_courses'|trans }}</a>
    {% endif %}

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('app_course_edit', {'id': course.id}) }}">{{ 'edit_course'|trans }}</a>
        <a href="{{ path('app_course_index_by_instructor', {'instructorId': app.user.id}) }}">{{ 'back_to_courses'|trans }}</a>
        {% if course.canDelete() %}
            {{ include('course/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
