{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                    <a href="{{ path('app_course_registration_by_course', {'courseId': course.id}) }}">registrations</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">Create new</a>
{% endblock %}
