{% extends 'base.html.twig' %}

{% block title %}{{ 'course_index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'course_index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'course_title'|trans }}</th>
                <th>{{ 'course_class_average'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.getClassAverage()|format_number(attrs={fraction_digit: 2}) }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">{{ 'create_new'|trans }}</a>
{% endblock %}
