{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_course_registration'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit_course_registration'|trans }}</h1>

    {{ form(form) }}

    <a href="{{ path('app_course_show', {'id': course_registration.course.id}) }}">{{ 'back_to_courses'|trans }}</a>
{% endblock %}
