{% block body %}
    <h3>{{ 'course_registrations'|trans }}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'course_title'|trans }}</th>
                <th>{{ 'course_instructor'|trans }}</th>
                {% if not is_granted('ROLE_STUDENT') %}
                    <th>Student</th>
                {% endif %}
                <th>{{ 'course_registration_grade'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for course_registration in course_registrations %}
            <tr>
                <td>{{ course_registration.course.title }}</td>
                <td>{{ course_registration.course.instructor.name }}</td>
                {% if not is_granted('ROLE_STUDENT') %}
                    <td>{{ course_registration.student.name }}</td>
                {% endif %}
                <td>{{ course_registration.grade|format_number(attrs={fraction_digit: 2}) }}</td>
                <td>
                    <a href="{{ path('app_course_registration_show', {'id': course_registration.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_TEACHER') %}
                        <a href="{{ path('app_course_registration_edit', {'id': course_registration.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no registrations found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
