{% extends 'base.html.twig' %}

{% block title %}{{ 'new_course_registration'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new_course_registration'|trans }}</h1>

    {{ form(form) }}

    <a href="{{ path('app_course_index') }}">{{ 'back_to_courses'|trans }}</a>
{% endblock %}
