{% extends 'base.html.twig' %}

{% block title %}Course registration{% endblock %}

{% block body %}
    <h1>Course registration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Course title</th>
                <td>{{ course_registration.course.title }}</td>
            </tr>
            {% if not is_granted('ROLE_TEACHER') %}
                <tr>
                    <th>Course instructor</th>
                    <td>{{ course_registration.course.instructor.name }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Grade</th>
                <td>{{ course_registration.grade }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('app_course_registration_edit', {'id': course_registration.id}) }}">edit</a>
        <a href="{{ path('app_course_show', {'id': course_registration.course.id}) }}">back to course</a>
    {% endif %}
    {% if is_granted('ROLE_STUDENT') %}
        {% if course_registration.canDrop() %}
            {{ include('course_registration/_delete_form.html.twig') }}
        {% endif %}
        <a href="{{ path('app_home') }}">back to home</a>
        <a href="{{ path('app_course_index') }}">back to courses</a>
    {% endif %}
{% endblock %}
