<h1>{{ 'confirm_your_email'|trans }}</h1>

<p>
    {{ 'confirm_your_email_follow_link'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'confirm_my_email'|trans }}</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'cheers'|trans }}
</p>
