{% extends 'base.html.twig' %}

{% block title %}{{ 'register_user'|trans }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ 'register_user'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'password'|trans
        }) }}
        {{ form_row(registrationForm.roles, {
            label: 'i_am_a'|trans
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">{{ 'register_user'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
