{% extends 'base.html.twig' %}

{% block title %}{{ 'password_reset_email_sent'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'if_your_email_exists'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'if_you_dont_receive_email'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans }}</a>.</p>
{% endblock %}
