<h1>{{ 'hi'|trans }}</h1>

<p>{{ 'to_reset_password'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'link_expires_in'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ 'cheers'|trans }}</p>
