{% extends 'base.html.twig' %}

{% block title %}{{ 'declare_parent'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'declare_parent'|trans }}</h1>

    {{ form(form) }}

    <a href="{{ path('app_home') }}">{{ 'back_to_home'|trans }}</a>
{% endblock %}
