{% block body %}
    <h3>Children</h3>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'school'|trans }}</th>
                <th>{{ 'gpa'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for child in app.user.getChildren() %}
            <tr>
                <td>{{ child.name }}</td>
                <td>{{ child.school }}</td>
                <td>{{ child.getGpa() }}</td>
                <td>
                    <a href="{{ path('app_course_registration_by_student', {'studentId': child.id}) }}">{{ 'registrations'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
